@import '/src/app/styles/variables';

.search-container {
  display: block;
  margin: 30px auto 70px auto;
  padding: 30px 50px;
  background-color: $secondary-color;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  width: 330px;
  .search-title {
    text-align: center;
    margin-bottom: 10px;
  }
  .search-box {
    display: block;
    margin: 0 auto;
    border: 1px solid #cdd9ed;
    padding: 8px 16px;
    border-radius: 6px;
  } 
}

.no-cars {
  text-align: center;
}

@media (max-width: 992px) {
  .search-container {
    padding: 30px 15px;
  }
}

@media (max-width: 992px) {
  .search-container {
    padding: 30px 15px;
  }
}