@import '/src/app/styles/variables';
@import '/src/app/styles/mixins';


.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: start center;
  margin-top: 50px;
  .car-info {
    margin-top: 35px;
    padding-right: 230px;
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    p {
      text-align: justify;
      margin-bottom: 22px;
    }
    .specifications {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: start center;
    }
  }
}

.card {
  @include basic-card;
  overflow: hidden;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}

